*{
    box-sizing: border-box;
}

.wrapper-1{
    min-height: 100vh;
    min-width: 50vw;
    background-color: #fff;
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: 1fr 75% 1fr ;
    margin: 1rem;
    gap: 0.5rem;
    grid-template-areas: 
    " header header header"
    " main . aside"
    " footer footer footer";
}

.header-1{
    background-color: blueviolet;
    grid-area: header;
}

.main-1{
    display: flex;
    flex-direction: column;
    grid-area: main;
    gap: 0.5rem;
    margin: 0.5rem;
}

.section-1{
    height: 20%;
    background-color: purple;
}

.aside-1{
    background-color: palevioletred;
    grid-area: aside;
    margin: 0.5rem;
}

.footer-1{
    background-color: lightgreen;
    grid-area: footer;
}

@media screen and (max-width: 600px) {
    .wrapper-1{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 45% 2fr 2fr 2fr ;
        grid-template-areas: 
        "header"
        "main"
        "."
        "aside"
        "footer";
    } 
}

/* ------övning-2-------- */

h1{
    text-align: center;
}

.wrapper-2{
    min-height: 100vh;
    min-width: 50vw;
    background-color: #fff;
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: 1fr 75% 1fr ;
    margin: 1rem;
    gap: 1rem;
    grid-template-areas: 
    "header header header"
    "main main main "
    "footer footer footer";
}

.header-2{
    display: flex;
    gap: 0.5rem;
    grid-area: header;
}

.aside-2{
    background-color: purple;
    width: 25%;
}

.main-2{
    display: flex;
    grid-area: main;
    gap: 1rem;
   
}

.section-2{
    width: 33.33%;
    background-color: pink;
}

.footer-2{
    background-color: lightgreen;
    grid-area: footer;
}

@media screen and (max-width: 600px) {
    .header-2{
        flex-flow: row wrap;
        gap: 0.1rem;
    }

    .aside-2{
        width: 49.8%;
        height: 50%;
    }

    .main-2{
        flex-direction: column;  
    }

    .section-2{
        height: 33.33%;
        width: 100%;
    }
}

/* --------- övning 3 --------- */

.wrapper-3{
    min-height: 100vh;
    min-width: 50vw;
    background-color: #fff;
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: 1fr 1fr 60% 1fr ;
    margin: 1rem;
    gap: 1rem;
    grid-template-areas: 
    " header header header"
    " aside aside aside"
    " main main main"
    " footer footer footer";
}

.header-3{
    grid-area: header;
    margin: 1rem 0 0 1rem;
}

.circle-3{
    background-color: blueviolet;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: 0;
}

.aside-3{
    grid-area: aside;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.div-3{
    background-color: rgb(102, 13, 95);
    width: 30%;
    height: 90%;
    border: 1rem solid rgb(102, 13, 95);
    border-radius: 4rem;
}

.main-3{
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    column-gap: 1rem;
    grid-area: main;
}

.left-3{
    display: flex;
    width: 65%;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 0.6rem;
}

.box-3{
    width: 49%;
    min-height: 20%;
    background-color: pink;
}

.right-3{
    display: flex;
    width: 35%;
    flex-direction: column;
    row-gap: 1rem;
}

.rectangle-3{
    width: 100%;
    min-height: 31%;
    background-color: purple;
}

.footer-3{
    background-color: lightgreen;
    grid-area: footer;
}

@media screen and (max-width: 600px) {
    .header-3{
        justify-self: center;
        margin: 0;
    }

    .aside-3{
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .div-3{
        width: 100%;
    }

    .main-3{
        flex-direction: column;
        margin: 0;
        gap: 1rem;
    }

    .left-3{
        width: 100%;
        height: 80%;
        row-gap: 1rem;
    }

    .box-3{
        width: 100%;
    }

    .right-3{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 20%;
    }

    .rectangle-3{
        width: 32%;
        min-height: 31%;
        background-color: purple;
    }
}

.wrapper-4{
    min-height: 100vh;
    min-width: 50vw;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 60% 1fr ;
    margin: 1rem;
    gap: 1rem;
    grid-template-areas: 
    " header header header "
    " main main main "
    " footer footer footer ";
}

.header-4{
    grid-area: header;
    margin: 1rem 0 0 1rem;
}

.circle-4{
    background-color: blueviolet;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: 0;
}

.main-4{
    display: flex;
    flex-direction: column;
    margin: 0 1rem 1rem 1rem;
    gap: 2rem;
    grid-area: main;
}

.top-4{
    display: flex;
    width: 100%;
    min-height: 80%;
    flex-wrap: wrap;
    gap: 1rem;
}

.box-4{
    width: 49%;
    min-height: 20%;
    background-color: purple;
}

.box-5{
    width: 49%;
    min-height: 20%;
    background-color: pink;
}

.bottom-4{
    display: flex;
    width: 100%;
    min-height: 10%;
    justify-content: center;
}

.rectangle-4{
    min-width: 20%;
    min-height: 10%;
    background-color: rgb(168, 58, 168);
    border-radius: 1.5rem;
}

.footer-4{
    background-color: lightgreen;
    grid-area: footer;
}

@media screen and (max-width:600px) {
    .header-4{
        justify-self: center;
        margin: 0;
    }

    .main-4{
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 1rem;
        grid-area: main;
    }

    .box-4{
        width: 100%;
        min-height: 20%;
        background-color: purple;
    }
    
    .box-5{
        width: 100%;
        min-height: 20%;
        background-color: pink;
    }

    .bottom-4{
        display: flex;
        width: 100%;
        min-height: 10%;
        justify-content: center;
        align-self: flex-end;
    }

    .rectangle-4{
        min-width: 30%;
        min-height: 10%;
        background-color: rgb(168, 58, 168);
        border-radius: 1.5rem;
    }
}